@import url('https://fonts.googleapis.com/css2?family=Rye&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    color: black;
    font-family: Rye, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    margin-top: 120px;
    grid-column: 2/3;
    grid-row: 1/2;
}

#hero-msg h1 {
    text-align: center;
    color:#cad2c5;
}

#hero-msg h4 {
    text-align: center;
    color: white;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #354f52;
}

body {
    background-color: #cad2c5;
    font-family: Yrsa, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 100px;
    background-color: #354f52;
    opacity: 90%;
    text-align: center;
    height: 100px;
}

.logo {
    width: 80px;
    padding-bottom: 35px;
}

#logo_link {
    padding-top: 35px;
    justify-self: center;
    align-self: center;
    border-radius: 60%;
}

nav {
    display:flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #cad2c5;
    text-decoration: none;
    font-size: 35px;
    font-family: Yrsa, Helvetica, sans-serif;
    height: 75px;
    width: 160px;
    padding-top: 25px;
}

nav a:hover {
    background-color: #52796f;
    color: black;
}

.card-img {
    border: 10px solid #52796f;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.book {
    background-color: #52796f;
    color: #cad2c5;
    text-decoration: none;
    font-size: 35px;
    font-family: Yrsa, Helvetica, sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    background-color: #355249;
    color: #cad2c5;
    text-decoration: none;
    font-size: 35px;
    font-family: Yrsa, Helvetica, sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.book:hover {
    background-color: #84a98c;
    color: white;
}

.join:hover {
    background-color: #cad2c5;
    color: black;
}

.icon {
    padding-top: 10px;
}

#background {
    margin-bottom: 50px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    margin-bottom: 35px;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}

.msg {
    background-color: #52796f;
    line-height: 1.5em;
    color: #cad2c5;
    font-family: Yrsa, Helvetica, sans-serif;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;

}

.msg h2 {
    color: rgb(160, 230, 174);
    line-height: 1.5em;
    font-family: Rye, 'Times New Roman', Times, serif;

}

.home-grid {
    font-family: Rye, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

footer {
    background-color: #354f52;
    color: white;
    font-family: Yrsa, Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #cad2c5;
    text-decoration: none;
}

footer a:hover {
    background-color: #cad2c5;
    color: black;
}

footer p a:hover {
    text-decoration: underline;
}    

/* Code for 2nd page */

.home-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 825px 150px;
    column-gap: 25px;
    justify-items: center;
    margin: 0 auto;
    margin-top: 75px;
}

.home-title2 {
    background-color: #354f52;
    color: whitesmoke;
    font-family: Rye, 'Times New Roman', Times, serif;
    font-size: 2em;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding: 15px;
}

li {
    text-align: left;
    color: #cad2c5;
    width: 300px;
    margin: 0 auto;
}

.button-box2 {
    margin-top: 35px;
    text-align: center;
}

.card-img-3 {
    border: 10px solid #52796f;
    margin-top: 50px;

}

.card-3 {
    background-color: #354f52;
    width: 400px;
    font-family: Rye, 'Times New Roman', Times, serif;
    transition: transform .5s;
    color: white;
}

.card-3:hover {
    transform: scale(1.1);
}

.bottom_text {
    grid-column: 1/4;
    grid-row: 2/3;
    padding-top: 50px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }

    header {
        height: 300px;
    }

    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
        margin-left: 150px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}